@font-face {
    font-family: 'PixelifySans';
    src: url('./PixelifySans.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

.hello {
    color: red;
    font-family: 'PixelifySans';
    font-size: 36px;
    background: url('./logo.png');
}
